.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  p {
    color: rgb(255, 0, 30);
    font-size: large;
  }
}
